**/.devcontainer
**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.vscode
**/.history
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
README.md
CODE_OF_CONDUCT.md
LICENSE
.editorConfig
put-a-bird-on-it.gif
fly.toml
put-a-bot-on-it.code-workspace
